.layout-wrapper {
  min-height: 100vh !important;
}

// sider
.fixed-sider {
  position: fixed !important;
  left: 0;
  height: 100vh;
  overflow: auto;
}

// logo
.logo-container {
  text-align: center;
  height: 60px;

  img {
    max-width: 100px;
    max-height: 100%;
  }
}

// header
.header-container {
  transition: all .2s linear;
  z-index: 10;
  .header-background {
    position: relative;
    background: #fff;
  }
  .header-dropdown {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin: 0;
    line-height: 64px;
    cursor: pointer;
  }
  .header-collapse-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    margin: 0;
    padding: 0 20px;
    line-height: 64px;
    cursor: pointer;
    transition: transform linear .2s;

    &.collapsed {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.app-open-sider .header-container {
  margin-left: 200px;
}
.app-close-sider .header-container {
  margin-left: 80px;
}

// content
.app-content-container {
  padding: 10px;
}