.layout-wrapper {
  min-height: 100vh !important;
}

// sider
.fixed-sider {
  position: fixed !important;
  left: 0;
  height: 100vh;
  overflow: auto;
  z-index: 100;
}

// logo
.logo-container {
  text-align: center;
  height: 60px;

  img {
    max-width: 100px;
    max-height: 100%;
  }
}

// header
.main-container {
  transition: marginLeft .2s linear;
  .header-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .1s linear;
    background: #fff;
  }

  .header-inner {
    position: relative;
    height: 100%;
  }

  .header-user-block {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin: 0;
    cursor: pointer;
  }
  
  .header-dropdown {
    line-height: 64px;
  }

  .header-avatar {
    margin-left: 16px;
  }

  .header-collapse-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    margin: 0;
    padding: 0 20px;
    line-height: 64px;
    cursor: pointer;
    transition: transform linear .2s;

    &.collapsed {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
.app-open-sider {
  .header-background {
    padding-left: 200px;
  }
  .main-container {
    margin-left: 200px;
  }
}
.app-close-sider {
  .header-background {
    padding-left: 80px;
  }
  .main-container {
    margin-left: 80px;
  }
} 

// content
.app-content-container {
  position: relative;
  margin: 64px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

// 内容区分块
.box-container {
  margin-top: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
}

// 列表项
.list-item {
  margin-top: 8px;
}