.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fade-enter {
  opacity: 0;
  transform: translateX(50px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all linear .3s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all linear .3s;
}